{# templates/lucky/number.html.twig #}
{% extends './base.html.twig' %}

{% block body %}
<div class="content legal_notice_content">
    <div class="shadowCard">
        <h1> {{ 'dev.1'|trans }} </h1>
    </div>
</div>
{% endblock body %}
