///Variables de breakpoint
$breakpoint-sm: 600px;
$breakpoint-md: 800px;
$breakpoint-lg: 1200px;

$FontColor: hsl(34, 89%, 86%);
///Variables de color
$ZeroColor: rgb(14 39 101);
$PrimaryColor: rgb(052 071 119);
$SecondaryColor: rgb(124 140 182);
$TertiaryColor: rgb(50 118 152);
$FourthColor: rgb(51 74 102);
$FifthColor: rgb(53 100 153);
//$FifthColor: rgb(52 071 119);
$BaseFontSize: 1.5;